<h1 class="text-center">Books</h1>
<div class="container-fluid">
  <div class="row text-center">
    <% for (let book of books) { %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 border border-dark mb-3">
      <div class="card">
        <% if (typeof user === 'object' && user && user.isAdmin) {%>
        <div class="book-delete">
          <form method="POST" action="/book/delete/<%= book.id %>">
            <button class="btn btn-dark" type="submit">
              <i class="fa fa-remove"></i>
            </button>
          </form>
        </div>
        <% } %>
        <% if (book.imageUrl) { %>
          <img
          src="<%= book.imageUrl %>"
          class="card-img-top img-book"
          alt="Book Image"
        />
        <% } else { %>
        <img
          src="/images/book-cover-placeholder.jpg"
          class="card-img-top img-book"
          alt="Book Placeholder"
        />
        <% } %>
        <div class="card-body">
          <h5 class="card-title book-name"><%= book.name %></h5>
          <p class="card-text">
              <div>Author: <%= book.author %></div>
              <div>Price: <%= book.price %></div>
          </p>
          <a href="/book/<%= book.id %>" role="button" class="btn btn-dark <%= (typeof user === 'object' && user) ? '':"disabled"%>"
             <%= (typeof user === 'object' && user) ? '':"aria-disabled='true'"%>>Inspect</a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
